# CityBikes

Send a request to CityBikes for the city of your choice.

In [48]:
import requests

# URL to be requested
request_url = "http://api.citybik.es/v2/networks/nextbike-glasgow"

# Perform the API call
response = requests.get(request_url)

# 200 = Success; 404 = Not Found
print(response)

# Display the raw JSON data
# print(response.json()['network']) - Commented out, output too long for GitHub

<Response [200]>

AttributeError: 'dict' object has no attribute 'top'

Put your parsed results into a DataFrame.

In [35]:
# NOTE: I re-arranged this and the next step. Unsure if that was an acceptable way of doing it

# Load the station data from the JSON response into the pandas dataframe
all_station_data = pd.json_normalize(response.json()['network']['stations'])

all_station_data

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.bike_uids,extra.number,extra.slots,extra.uid
0,3.0,6,af1d0f25cbc75377878349fde4d86133,55.858167,-4.245483,Merchant Square - ELECTRIC,2023-09-02T18:13:47.902000Z,"[47160, 46996, 46593, 46533, 46456, 829237]",8407,8.0,264293
1,6.0,2,71b02b6f26f03e58c97dec1e1c9faa00,55.878278,-4.288487,Botanic Gardens - ELECTRIC,2023-09-02T18:13:47.907000Z,"[840056, 46430]",8417,8.0,264302
2,4.0,2,fa6bc682e8627d66891c2b6250c81b1e,55.864788,-4.271852,Mitchell Library,2023-09-02T18:13:47.910000Z,"[46678, 829240]",8425,6.0,264308
3,2.0,1,a087989280fd941fd9c41c3e787940ae,55.862983,-4.241000,University of Strathclyde (North),2023-09-02T18:13:47.911000Z,[21013],8424,3.0,264309
4,3.0,8,eb47a36e3d5fe5bc456397413bd2aa75,55.852500,-4.258850,Bridge Street Subway - ELECTRIC,2023-09-02T18:13:47.912000Z,"[47837, 46993, 46775, 46734, 46490, 46451, 829...",8432,5.0,264316
...,...,...,...,...,...,...,...,...,...,...,...
102,8.0,2,2c49302c8bb3a00373f898594228a941,55.847638,-4.202957,London Road Central,2023-09-02T18:13:47.978000Z,"[47952, 828079]",8474,10.0,213996907
103,4.0,5,d9eacbf78518d186400386d90f0cf49c,55.875865,-4.319601,Broomhill Cross,2023-09-02T18:13:47.979000Z,"[47091, 47041, 46529, 829193, 829044]",8480,10.0,213997157
104,5.0,5,f6210447e1724487afe0ce63b011aecd,55.895974,-4.354877,Knightswood Park,2023-09-02T18:13:47.977000Z,"[210166, 46858, 47910, 829096, 829050]",8473,10.0,213996668
105,0.0,12,3860eb7809fcced150d10d78ca2a165c,55.862838,-4.341885,"University Hospital, Queen Eliza",2023-09-02T18:13:47.927000Z,"[22211, 47097, 47019, 46986, 46848, 46617, 464...",8450,8.0,751103
106,7.0,4,ed8440d874a0b4205ddbcc0bc56f3d49,55.846362,-4.208322,Emirates Arena,2023-09-02T18:13:47.914000Z,"[81100, 46950, 46571, 829187]",8428,12.0,266166

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [44]:
# Copy the chosen columns into a new dataframe
selected_station_data = all_station_data[['free_bikes','latitude','longitude']].copy()

selected_station_data

     free_bikes   latitude  longitude
0             6  55.858167  -4.245483
1             2  55.878278  -4.288487
2             2  55.864788  -4.271852
3             1  55.862983  -4.241000
4             8  55.852500  -4.258850
..          ...        ...        ...
102           2  55.847638  -4.202957
103           5  55.875865  -4.319601
104           5  55.895974  -4.354877
105          12  55.862838  -4.341885
106           4  55.846362  -4.208322

[107 rows x 3 columns]

In [46]:
# Export the data into a CSV for use in other notebooks
selected_station_data.to_csv('../data/citybike_stations.csv', index=False)